{% load i18n %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title> {% block title %}{% endblock %} </title>
        <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
        {% block feed %} {% endblock %}
        {% block css %} {% endblock %}
        {% block js %} {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
