{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Searching for: " %} {{ q }} {% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/search.css" />
{% endblock %}

{% block content %}

<h2> {% trans "Searching for: " %} {{ q }} </h2>

    {% for site in sites %}
        <div class="site">
            <table>
                <tr>
                    <th class="title">{% trans "site" %}: </th>
                    <td><div class="siteurl">{{ site.siteurl|urlize }}</div></td>
                </tr>
                <tr>
                    <th class="title">{% trans "username" %}: </th>
                    <td><div class="username">{{ site.username }}</div></td>
                </tr>
                <tr>
                    <th class="title">{% trans "password" %}: </th>
                    <td><div class="password">{{ site.password }}</div</td>
                </tr>
                <tr>
                    <th class="title">{% trans "comment" %}: </th>
                    <td><div class="comment">{{ site.other }}</div></td>
                </tr>
                <tr>
                    <th class="title">{% trans "stats" %}: </th>
                    <td class="stats {{ site.rate_class }}">
                        <span class="rate_percentage">{{ site.rate }}</span>% {% trans "success rate" %}
                        (<span class="votes">{{ site.votes }}</span> {% trans "votes" %})
                    </td>
                </tr>

            </table>

            <span class="rate">
                {% trans "Did this login work out for you?" %}
                <a class="voteyes" href="{% url siteapp.views.vote id=site.id vote=1 %}">{% trans "yes" %}</a>
                <a class="voteno" href="{% url siteapp.views.vote id=site.id vote=0 %}">{% trans "no" %}</a>
            </span>
        </div>
    {% endfor %}

    {% ifnotequal page 1 %}
        <a href="{% url siteapp.views.search q=q %}?page={{ page|add:"-1" }}">{% trans "Prev" %}</a>
    {% endifnotequal %}

    {% blocktrans with page as page and paginator.num_pages as numpages %}
        Page {{ page }} of {{ numpages }}
    {% endblocktrans %}

    {% ifnotequal page paginator.num_pages %}
        <a href="{% url siteapp.views.search q=q %}?page={{ page|add:"1" }}">{% trans "Next" %}</a>
    {% endifnotequal %}

{% include "siteapp/submitform.html" %}

{% endblock %}
